########## Global owners ##########

*                  @jjcnn @vaivaswatha @anton-trunov


########## Source code ##########

## default OCaml reviewers
*.ml                @vaivaswatha @jjcnn @anton-trunov
*.mli               @vaivaswatha @jjcnn @anton-trunov

## default C and C++ reviewers
*.cpp              @vaivaswatha @AmritKumar
*.c                @vaivaswatha @AmritKumar
*.h                @vaivaswatha @AmritKumar


########## Build system, CI, opam ##########

*dune*             @vaivaswatha @anton-trunov
/.dockerignore     @vaivaswatha @Gnnng
/.travis.yml       @vaivaswatha @Gnnng
/Dockerfile*       @vaivaswatha @Gnnng
/Makefile          @vaivaswatha @anton-trunov
/scripts/build_openssl.sh @vaivaswatha
*.opam             @vaivaswatha @anton-trunov


########## Test suite ##########

## Scilla contracts in the testsuite
/tests/*.scilla    @edisonljh @evesnow91 @AmritKumar @vaivaswatha @jjcnn


########## Documentation ##########

/README.md        @AmritKumar @jjcnn @vaivaswatha
/INSTALL.md       @vaivaswatha @anton-trunov
/docs/            @jjcnn


########## Tools ##########

#/misc/emacs-mode  @vaivaswatha
#/misc/vim-plugin  @edisonljh


########## GitHub metadata, including this file ##########

/.github/         @AmritKumar @vaivaswatha @anton-trunov
