# The scilla-team will be the default owners for everything in the repo.
# This way the devops can maintain it without the need to patch this file.
* @Zilliqa/scilla-team

## Devops-related things
/.dockerignore
/.travis.yml
/Dockerfile*         
/scripts/build_deps.sh
/scripts/build_openssl.sh
/scripts/cryptoutils.sh
/scripts/install_cmake_ubuntu.sh
/scripts/install_opam2_ubuntu.sh
/scripts/install_secp256k1.sh
/scripts/install_shellcheck_ubuntu.sh
/scripts/schnorr.sh                      @Zilliqa/devops-team
