language: generic
sudo: required
env:
  - OCAML_VERSION=4.06.1
  - OCAML_VERSION=4.07.1
os:
  - linux
# TODO: enable macOS builds
# `brew update` downloads too many packages for the provided macOS image
# and that sometimes causes build breaks because of time-outs.
# Without this command we get an old opam version (1.x) which is not satisfactory.

#  - osx

addons:
  apt:
    sources:
    - sourceline: 'ppa:tah83/secp256k1'
    packages:
    - ocaml
    - curl
    - build-essential
    - m4
    - pkg-config
    - zlib1g-dev
    - libgmp-dev
    - libssl-dev
    - libboost-system-dev
    - libpcre3-dev
    - aspcud
    - libsecp256k1-dev
  homebrew:
    brewfile: true
    update: true
cache:
  directories:
  - $HOME/.opam
  - $HOME/openssl
  # see this awesome answer for caching with Homebrew: https://stackoverflow.com/a/53331571/2747511
  # TODO: we might want to implement everything useful from the answer
  - $HOME/Library/Caches/Homebrew
before_cache:
  - if [ $TRAVIS_OS_NAME = osx ]; then brew cleanup; fi
branches:
  only: 
    - master
    - /^release-v.*$/
before_install:
- if [ $TRAVIS_OS_NAME = linux ]; then ./scripts/install_opam2_ubuntu.sh; fi
- opam init --disable-sandboxing --compiler=$OCAML_VERSION -y
- eval $(opam env)
- opam install ./scilla.opam --deps-only --with-test -y
- rm $HOME/.opam/log/*
script:
- if [ $TRAVIS_OS_NAME = osx ]; then ulimit -n 1024; fi
- make test
- make coveralls
